@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Movies and Series DB</h1>
    <p>En esta página encontrará un sin fin de películas y series para su disfrute, podrá ver sus sinopsis, quien la ha dirigido y protagonizado, ademas de las paginas donde puede comprar el contenido audiovisual.</p>
    <p>Nosotros en ningun momento proveemos enlaces de descarga, el uso de esta página es exclusivamente como consulta de información.</p>
</div>
