@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div>
    <h1 class="display-4">Bienvenido a Movies and Series DB</h1>
</div>
<br />
<br />
<h3>Formulario de acceso</h3>
@Model.Msg
<form method="post" asp-page="Index" class="text-center">
    <table>
        <tr>
            <td>Username</td>
            <td><input type="text" asp-for="@Model.Username" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" asp-for="@Model.Password" /></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Login" /></td>
        </tr>
    </table>
</form>
